<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <title>HOME</title>
</head>
<body>
    <h1>HOME</h1>
    <div class="home">
        <h2 class="login">LOGIN</h2>
       <input type="email" class="email" placeholder="EMAIL">
       <input type="password" class="senha" placeholder="SENHA">
       <input type="submit" class="enviar">
    </div>

</body>
</html>